@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-sm;
  }
  h2 {
    @apply font-bold text-4xl text-lVeryDarkBlueText dark:bg-whiteText;
  }
}

.item {
  @apply bg-lightGrayishBlue dark:bg-darkDesaturatedBlueCardBg;
}

.slider {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  right: 2px;
  bottom: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px red;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}
